[block: main]
<div class="box"><div class="head">Here you can change your password</div></div>
<div class="box">
	<div class="body group">
	<form method="post" action="/usercp.php?module=password" role="form">
	{:current_password}
	New Password: <input type="password" name="new_password" /><br />
	New Password Again: <input type="password" name="new_password_check" /><br />
	<input type="submit" name="Update" value="Update" />
	</form>
	</div>
</div>
[/block: main]
